name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # LOGIN A DOCKER HUB
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # BUILD + PUSH DOCKER IMAGE
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            eileenvaldezz/hola-mundo-devops:v1
            eileenvaldezz/hola-mundo-devops:${{ github.sha }}

      # DEPLOY EN RENDER
      - name: Trigger Render Deploy
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $RENDER_API_KEY" \
            "https://api.render.com/v1/services/srv-d4nq4j6r433s73e9sm4g/deploys" \
            -d '{"clearCache": "clear"}'
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
